---
import BlueButton from "@components/BlueButton.astro";
import LogoIcon from "@svg/logo.svg";
---

<header
	class="header"
	aria-label="Header"
>
	<div class="header__wrapper wrapper">
		<a
			class="header__logo"
			href="/"
			title="Home"
			aria-label="Home"
			data-js-header-home-button=""
		>
			<LogoIcon
				width={106}
				height={36}
				role={"img"}
				aria-label={"Whirl Logo"}
			/></a
		>
		<button
			type="button"
			class="header__burger visible-mobile"
			title="Open menu"
			aria-label="Open menu"
			aria-controls="header-overlay"
			data-js-header-button=""
		>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</button>
		<div
			class="header__overlay"
			id="header-overlay"
			aria-label="Header menu"
			data-js-header-overlay=""
		>
			<nav aria-label="Header navigation">
				<ul class="header__list">
					<li><a href="#!">Features</a></li>
					<li><a href="#!">Pricing</a></li>
					<li><a href="#!">Integrations</a></li>
					<li><a href="#!">Learn</a></li>
				</ul>
			</nav>
			<div class="header__buttons">
				<a
					class="header__buttons-link"
					href="#!"
					>Sign in</a
				>
				<BlueButton url="#!">Book a demo</BlueButton>
			</div>
		</div>
	</div>
</header>

<style lang="scss">
	@use "@styles/helpers" as *;

	.header {
		position: fixed;
		width: 100%;
		border-bottom: 1px solid var(--color-white-400);
		padding-block: 20px;
		background-color: var(--color-white-100);

		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 36px;
		}

		&__logo {
			display: inline-flex;
		}

		&__overlay {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			width: 100%;
			background-color: var(--color-white-100);
			line-height: 1.6;
			transition-duration: var(--transition-duration);

			@include font-variable(18, 15, 14);

			@include mobile {
				position: fixed;
				inset: 0;
				z-index: 99;
				overflow-y: scroll;
				justify-content: center;
				font-size: 28px;
				flex-direction: column;

				&:not(.is-active) {
					transform: translateX(100%);
				}
			}
		}

		&__list {
			display: inline-flex;
			gap: 24px;
			color: var(--color-black-800);
			text-align: center;

			@include mobile {
				flex-direction: column;
			}
		}

		&__buttons {
			display: inline-flex;
			align-items: center;
			gap: 30px;

			@include mobile {
				flex-direction: column;
			}

			&-link {
				color: var(--color-blue-600);
			}
		}

		&__burger {
			position: relative;
			z-index: 100;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 8.5px 4.25px;

			@include square(36px);

			&-line {
				width: 100%;
				height: 2px;
				border-radius: 16px;
				background-color: var(--color-black-900);
				transition-duration: var(--transition-duration);

				&:last-child {
					align-self: flex-end;
					width: 60%;
				}
			}

			&.is-active .header__burger-line {
				&:first-child {
					transform: rotate(45deg) translateY(-0.28em) translateX(0.1em);
					transform-origin: 0;
				}

				&:nth-child(2) {
					transform: rotate(-43deg);
				}

				&:last-child {
					width: 0;
				}
			}
		}
	}
</style>

<script>
	class Header {
		selectors = {
			overlay: "[data-js-header-overlay]",
			button: "[data-js-header-button]",
		};
		selectorsExternal = {
			main: "[data-js-main]",
			footer: "[data-js-footer]",
			home: "[data-js-header-home-button",
		};
		stateClasses = {
			isActive: "is-active",
			isLock: "is-lock",
		};

		isOpen = false;
		rootElement: any;
		overlayElement: any;
		buttonElement: any;
		externalElements: any[];

		handleEsc = (e: KeyboardEvent) => {
			if (e.key === "Escape") {
				this.onButtonClick();
			}
		};

		onButtonClick = () => {
			this.isOpen = !this.isOpen;
			document.documentElement.classList.toggle(this.stateClasses.isLock);
			this.buttonElement.classList.toggle(this.stateClasses.isActive);
			this.overlayElement.classList.toggle(this.stateClasses.isActive);
			this.buttonElement.setAttribute("title", this.isOpen ? "Close menu" : "Open menu");
			this.buttonElement.setAttribute("aria-label", this.isOpen ? "Close menu" : "Open menu");
			this.buttonElement.toggleAttribute("aria-expanded", this.isOpen);
			this.overlayElement.toggleAttribute("inert");
			this.externalElements.forEach((element) => {
				element.toggleAttribute("inert");
			});
		};

		constructor() {
			this.overlayElement = document.querySelector(this.selectors.overlay);
			this.buttonElement = document.querySelector(this.selectors.button);
			this.externalElements = [
				document.querySelector(this.selectorsExternal.main),
				document.querySelector(this.selectorsExternal.footer),
				document.querySelector(this.selectorsExternal.home),
			];
			this.matchDevice();
			this.bindEvents();
		}

		matchDevice() {
			if (window.matchMedia("(max-width: 767px)").matches) {
				document.documentElement.addEventListener("keydown", this.handleEsc);
				this.buttonElement.removeAttribute("hidden");
				this.overlayElement.setAttribute("tabindex", "-1");
				this.overlayElement.setAttribute("role", "dialog");
				this.overlayElement.setAttribute("aria-modal", "true");
				this.overlayElement.setAttribute("inert", "");
			} else {
				document.documentElement.removeEventListener("keydown", this.handleEsc);
				this.buttonElement.setAttribute("hidden", "");
				this.overlayElement.removeAttribute("tabindex");
				this.overlayElement.removeAttribute("role");
				this.overlayElement.removeAttribute("aria-modal");
				this.overlayElement.removeAttribute("inert");
			}
		}

		bindEvents() {
			this.buttonElement.addEventListener("click", this.onButtonClick);

			let resizeTimer: any;
			window.addEventListener("resize", () => {
				this.matchDevice();
				this.overlayElement.classList.add("no-transition");
				clearTimeout(resizeTimer);
				resizeTimer = setTimeout(() => {
					this.overlayElement.classList.remove("no-transition");
				}, 300);
			});
		}
	}
	new Header();
</script>
