---
import { Picture } from "astro:assets";
import BlueButton from "@components/BlueButton.astro";
import HeroImage from "@images/hero-image.jpg";
import MyIcon from "@components/Icon.astro";
import { Icon } from "astro-icon/components";
import FlexLayout from "@layouts/FlexLayout.astro";
import MetricCardsData from "src/data/hero-metric-cards-data.json";
import MetricCard from "@components/MetricCard.astro";
---

<section
	class="hero"
	aria-labelledby="hero-title"
>
	<div class="wrapper">
		<div class="hero__info">
			<div class="hero__body">
				<h1
					class="h1"
					id="hero-title"
				>
					Your everyday tasks, automated.
				</h1>
				<p class="hero__subtitle">
					Whirl lets you design and streamline your everyday tasks and workflows in just a few clicks.
				</p>
				<div class="hero__extras">
					<BlueButton url="#!">Book a demo</BlueButton>
					<a
						class="hero__link"
						href="#!"
						><MyIcon type="blue-arrow">Learn more</MyIcon></a
					>
				</div>
			</div>
			<Picture
				src={HeroImage}
				formats={["avif", "webp"]}
				alt=""
				densities={[2, 3]}
				quality={65}
				priority
			/>
		</div>
		<div class="hero__partners">
			<p>Trusted by 50,000+ companies</p>
			<ul class="hero__partners-list">
				<li class="hero__partners-item">
					<Icon
						name="partners-1"
						width="124"
						height="33"
						aria-label="Partner: focusfox"
					/>
				</li>
				<li class="hero__partners-item">
					<Icon
						name="partners-2"
						width="159"
						height="27"
						aria-label="Partner: NowInTech"
					/>
				</li>
				<li class="hero__partners-item">
					<Icon
						name="partners-3"
						width="148"
						height="33"
						aria-label="Partner: Optimer"
					/>
				</li>
				<li class="hero__partners-item">
					<Icon
						name="partners-4"
						width="117"
						height="34"
						aria-label="Partner: Carded"
					/>
				</li>
			</ul>
		</div>
		<FlexLayout>
			{MetricCardsData.map((cardData) => <MetricCard {...cardData} />)}
		</FlexLayout>
	</div>
</section>

<style lang="scss">
	@use "@styles/helpers" as *;

	.hero {
		padding-block: fluid-small(70, 40) fluid-small(120, 40);

		@include laptop-above {
			padding-top: fluid-big(120, 70);
		}

		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 24px;

			@include mobile {
				flex-direction: column;
			}
		}

		&__body {
			max-width: 510px;
		}

		&__subtitle {
			max-width: 350px;
			margin-top: 24px;

			@include font-variable(24, 20, 18);
		}

		&__extras {
			display: inline-flex;
			align-items: center;
			gap: 24px;
			margin-top: 32px;
			line-height: 1.5882;

			@include font-variable(22, 17, 16);
		}

		&__link {
			color: var(--color-blue-600);
		}

		&__partners {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			margin-top: fluid-small(120, 40);
			padding-bottom: fluid-small(160, 40);
			line-height: 1.5625;

			@include font-variable(30, 24, 22);

			&-list {
				display: grid;
				grid-template-columns: repeat(2, auto);
				align-items: center;
				gap: fluid-small(62, 20);

				@include mobile-above {
					grid-template-columns: repeat(4, auto);
				}
			}

			&-item {
				overflow: visible;
				display: inline-flex;
			}
		}
	}
</style>
