---
const { g16 = false } = Astro.props;
const className = g16 ? "flex flex--g16" : "flex";
---

<div class={className}>
	<slot />
</div>

<style lang="scss">
	@use "@styles/helpers" as *;

	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 32px;

		@include tablet {
			flex-direction: column;
		}

		&--g16 {
			gap: 16px;
		}
	}

	:global(.flex > *) {
		flex: 1 1 0;
		max-width: 600px;
	}
</style>
