---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@elements/Header.astro";
import Main from "@elements/Main.astro";
import Footer from "@elements/Footer.astro";

interface Props {
	lang: string;
	title: string;
}

const props = Astro.props as Props;
---

<BaseLayout {...props}>
	<Header />
	<Main>
		<slot />
	</Main>
	<Footer />
</BaseLayout>
