---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@elements/Header.astro";
import Main from "@elements/Main.astro";
import Footer from "@elements/Footer.astro";

const props = Astro.props;
---

<BaseLayout {...props}>
	<Header />
	<Main>
		<slot />
	</Main>
	<Footer />
</BaseLayout>
