---
const { url, isSmall = false, invert = false } = Astro.props;
let buttonClass = `blue-button${isSmall ? " blue-button--small" : ""}${invert ? " blue-button--inverted" : ""}`;
---

<a
	class={buttonClass}
	href={url}
>
	<slot />
</a>

<style lang="scss">
	@use "@styles/helpers" as *;

	.blue-button {
		text-wrap: nowrap;
		align-self: flex-start;
		padding: fluid-small(8, 6) fluid-small(32, 26);
		background-color: var(--color-blue-600);
		color: var(--color-white-100);

		@include laptop-above {
			padding: fluid-big(10, 8) fluid-big(40, 32);
		}

		&--small {
			padding: fluid-big(8, 7) fluid-big(28, 20);
		}

		&--inverted {
			background-color: transparent;
			color: var(--color-blue-600);
		}
	}
</style>
