---
import HeroCard1Icon from "@svg/hero-card-1.svg";
import HeroCard2Icon from "@svg/hero-card-2.svg";
import HeroCard3Icon from "@svg/hero-card-3.svg";
const iconsMap: any = {
	"@svg/hero-card-1.svg": HeroCard1Icon,
	"@svg/hero-card-2.svg": HeroCard2Icon,
	"@svg/hero-card-3.svg": HeroCard3Icon,
};
const { iconURL, color, cardTitle, content } = Astro.props;
let cardClass = "hero-card";
if (color === "yellow") {
	cardClass = "hero-card hero-card--yellow";
} else if (color === "blue") {
	cardClass = "hero-card hero-card--blue";
} else if (color === "pink") {
	cardClass = "hero-card hero-card--pink";
}
const Icon = iconsMap[iconURL];
---

<div
	class={cardClass}
	role="group"
	aria-label={cardTitle}
>
	{Icon && <Icon />}
	<p class="hero-card__title h3">
		<strong style="font-weight: 400;">{cardTitle}</strong>
	</p>
	<p class="hero-card__content">
		{content}
	</p>
</div>

<style lang="scss">
	@use "@styles/helpers" as *;

	.hero-card {
		padding: 32px 32px 38px;

		&--yellow {
			background-color: var(--color-yellow);
		}

		&--blue {
			background-color: var(--color-blue-200);
		}

		&--pink {
			background-color: var(--color-pink);
		}

		&__title {
			margin-top: fluid-big(12, 8);
		}

		&__content {
			margin-top: fluid-big(16, 13);

			@include font-variable(18, 15, 14);
		}
	}
</style>
