---
const { type } = Astro.props;
const iconClass = `icon icon--${type}`;
---

<span class={iconClass}>
	<slot />
</span>

<style lang="scss">
	.icon {
		display: inline-flex;
		align-items: center;

		&--blue-arrow::after {
			content: "";
			width: 14px;
			height: 21px;
			margin-left: 5px;
			background-image: url("/src/assets/svg/blue-arrow.svg");
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
</style>
