---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
	lang="en"
	title="Whirl | Home page"
>
	<h1 class="h2">Astro</h1>
	<p>Hola</p>
	<a href="#!">Click me</a>
	<p class="text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis placeat possimus similique incidunt
		blanditiis veniam sed, vero ducimus tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
		voluptatem ipsam, quas eaque enim reiciendis rem impedit optio cupiditate at ea aspernatur assumenda nostrum
		consequuntur. Atque minima beatae modi temporibus rem ea error, ratione aperiam, earum sed at rerum impedit eum
		esse dolorum, fugit est recusandae corporis libero perspiciatis praesentium officia. Molestias earum numquam
		aliquam magnam voluptatibus sapiente omnis deserunt quam totam officia animi doloribus optio, quis sed
		voluptates aperiam consequatur eum culpa! Itaque, error sequi fugit molestias eveniet, repudiandae atque
		consectetur, voluptas repellat tenetur distinctio. Officiis maiores rem perspiciatis aspernatur laborum omnis
		fugiat harum iste quam laudantium magnam consequuntur neque dolorum sunt sit nihil doloribus minus, dolore
		tenetur sed dolores. Explicabo porro ratione, eius dignissimos quis, placeat nam optio voluptates rem
		repudiandae, eum eaque obcaecati! Voluptate tempora reprehenderit ipsam nulla dolor, ullam at ea doloremque
		obcaecati nesciunt maxime ducimus rerum libero expedita veniam sit ad non laborum maiores dolore iure, accusamus
		minus impedit! Mollitia deserunt amet exercitationem consequuntur explicabo nostrum repudiandae modi delectus
		dolores! Non cumque temporibus ducimus assumenda quidem minima tenetur ad beatae? Expedita facilis sequi,
		commodi pariatur fugiat itaque nostrum impedit odit dolore, magni numquam? Explicabo neque aliquam distinctio
		natus blanditiis eaque error recusandae dolores qui quae. Lorem ipsum dolor sit amet consectetur adipisicing
		elit. Repudiandae cumque aspernatur iusto perferendis quidem architecto magnam libero. Voluptate, voluptatum
		expedita alias itaque ratione ab, ipsam, dolore in incidunt velit dolor accusantium natus corrupti facere maxime
		doloribus nostrum nesciunt unde nihil officia? Similique perferendis cum temporibus a? Eaque facilis autem
		quaerat exercitationem eligendi, maxime dolorum facere quos necessitatibus obcaecati laudantium quae voluptatem
		nemo quod blanditiis recusandae a, soluta qui repellendus ullam, consequuntur modi accusantium ex incidunt?
		Dolorum molestiae nihil praesentium eligendi pariatur dolorem ea veniam vero sapiente ipsam, quia aperiam
		voluptates eius sunt sit. Nemo architecto natus doloremque perferendis nam eligendi dolor ex exercitationem, at
		culpa placeat ducimus veritatis quos neque esse modi aperiam impedit adipisci amet quo! Veritatis molestiae quae
		fugiat eligendi est nemo dolores perferendis commodi labore iusto soluta debitis, a quam odit facilis recusandae
		doloremque repellat velit. Architecto quia ad officiis sit. Accusantium unde vero ad iure rem quo cum laboriosam
		consequatur quibusdam beatae aliquid labore nam quasi, quis molestias assumenda odit, nobis maxime tempora
		nostrum magnam facilis! Corporis molestias illum, cum voluptatibus iure totam repellendus impedit ipsam porro
		velit quibusdam, necessitatibus itaque rem quam nihil! Aliquid exercitationem nostrum possimus quae amet tempore
		cumque architecto repellendus tempora sed veritatis ipsam officiis optio enim repudiandae, suscipit modi ratione
		qui. Omnis dolore quisquam deserunt, velit laudantium cum fuga dolorem perferendis dignissimos sint tempora
		pariatur veritatis? Vitae quo sapiente neque? Voluptatibus provident sed voluptas obcaecati dicta, beatae
		assumenda, recusandae id dolore cupiditate natus amet quaerat animi quod totam expedita esse magnam eaque velit
		fugiat autem iusto reprehenderit. Ducimus, ipsum vitae. Optio quisquam sunt adipisci labore soluta ipsum amet
		iste perferendis eligendi animi necessitatibus tempora quis tempore inventore rerum, suscipit cupiditate
		molestias cumque rem provident cum maxime! Cupiditate repellat praesentium amet consequatur explicabo
		accusantium! Minus id dolor nostrum culpa, officia voluptatem reiciendis a deserunt iste illum earum ut
		reprehenderit, molestiae nulla eaque non tenetur rerum quisquam! Nulla nisi, voluptatibus odio optio rem culpa?
		Dolore sint quae illum fugiat sapiente dolorum, voluptates, eos minima assumenda libero eum deleniti nemo
		architecto? Similique nemo quaerat, fugit praesentium incidunt porro facere tenetur unde quo. Corporis maiores
		in velit, amet dicta sit repellat nulla voluptatem dolorum, temporibus debitis cumque fuga quis natus voluptas
		alias laboriosam aliquam facilis ullam explicabo est impedit voluptates totam? Nemo temporibus impedit hic
		aliquam, ratione omnis iste minima fugiat, deserunt natus nam, fuga repellendus numquam perspiciatis incidunt
		aperiam quidem! Minima aliquam molestias perferendis dolorum optio nam accusantium asperiores ea sequi
		reprehenderit, libero tenetur eaque quae tempora, possimus quos, vitae repudiandae eius! Laborum, quam maiores
		commodi debitis beatae eveniet provident corrupti quae corporis distinctio reprehenderit atque itaque minus eos
		magni id cupiditate optio assumenda. Minima ipsa fugiat atque et. Officia, dicta. Quam maiores dolores explicabo
		eos exercitationem consequuntur ipsam voluptas atque sed! Ad saepe sit laudantium alias modi quod, dolor earum
		optio! Impedit dolore inventore aperiam harum incidunt nemo molestias sunt iusto exercitationem? Accusamus,
		sequi eos dolores, vero reprehenderit aspernatur nemo optio veniam impedit reiciendis sed modi deserunt, placeat
		nostrum corrupti minus facere tempora?
	</p>
</MainLayout>

<style lang="scss">
	@use "@styles/helpers" as *;
</style>
