---
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@elements/Hero.astro";
import Advantages from "@elements/Advantages.astro";
import About from "@elements/About.astro";
import Analytics from "@elements/Analytics.astro";
import Tasks from "@elements/Tasks.astro";
import Blog from "@elements/Blog.astro";
import Promo from "@elements/Promo.astro";
---

<MainLayout
	lang="en"
	title="Whirl | Home page"
>
	<h1 class="visually-hidden h1">Whirl helps you design smarter workflows and automate daily tasks effortlessly.</h1>
	<Hero />
	<Advantages />
	<About />
	<Analytics />
	<Tasks />
	<Blog />
	<Promo />
</MainLayout>
