@use "../helpers" as *;

html {
	background-color: var(--color-white-100);
	color: var(--color-black-900);
	font-family: var(--font-family-base);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.0125em;

	&.is-lock {
		overflow: hidden;
	}
}

.h1,
.h2,
.h3 {
	font-family: var(--font-family-accent);
	font-weight: 400;
}

.h1 {
	line-height: 1.1;

	@include font-variable(68, 58, 44);
}

.h2 {
	line-height: 1.2;

	@include font-variable(50, 42, 26);
}

.h3 {
	line-height: 1.252;

	@include font-variable(32, 25, 24);
}

img,
a,
button,
label,
input,
textarea,
select,
optgroup,
summary,
details,
svg * {
	transition-duration: var(--transition-duration);
}

body a {
	text-decoration: underline transparent;
	transition-timing-function: ease;

	@include hover {
		text-decoration-color: currentcolor;
	}
}

*:focus-visible {
	outline: 2px dashed var(--color-black-900);
	outline-offset: 4px;
	transition-duration: 0s !important;
}
