@use "../helpers" as *;

html {
	background-color: var(--bg-light);
	color: var(--absolute-black);
	font-family: var(--font-family-base);
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0;
}

body {
	font-size: fluid(16, 14);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
	font-family: var(--font-family-accent);
}

.h1 {
	color: var(--bg-light);
	font-size: fluid(250, 60);
	line-height: 1.4;
}

.h2 {
	font-size: fluid(40, 26);
	line-height: 1.3;
}

.h3 {
	font-size: fluid(32, 22);
}

.h4 {
	font-size: fluid(24, 18);
}

.h5 {
	font-size: fluid(20, 16);
}

a,
button,
input,
optgroup,
select,
textarea,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	@include hover {
		border-color: var(--text-yellow) !important;
		color: var(--text-yellow) !important;
	}
}

button {
	color: inherit;
	white-space: nowrap;
}

*:focus-visible {
	outline: 2px dashed var(--absolute-white);
	outline-offset: 4px;
	transition-duration: 0s !important;
}
