html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
}

button,
input {
	border: none;
	font: inherit;
	text-overflow: ellipsis;
}

button,
label {
	background-color: transparent;
	cursor: pointer;
}

button {
	text-transform: none;
}

svg * {
	transition-property: fill, stroke;
}

:where(h1) {
	margin-block: 0.67em;
	font-size: 2em;
}
