@use "../helpers" as *;

.wrapper {
	max-width: calc(var(--wrapper-width) + var(--wrapper-padding-x) * 2);
	margin: 0 auto;
	padding: 0 var(--wrapper-padding-x);
}

.inner {
	max-width: calc(var(--inner-width) + var(--inner-padding-x) * 2);
	margin: 0 auto;
	padding: 0 var(--inner-padding-x);
}

.bold {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
}

.yellow {
	color: var(--text-yellow);
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.visible-tablet {
	@include tablet-above {
		display: none !important;
	}
}
