@use "../helpers" as *;

.wrapper {
	--wrapper-width: #{fluid-big(1440, 1130)};
	--wrapper-padding-x: 16px;

	max-width: calc(var(--wrapper-width) + var(--wrapper-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--wrapper-padding-x);
}

.no-transition,
.no-transition * {
	transition: none !important;
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.visible-tablet {
	@include tablet-above {
		display: none !important;
	}
}
