:root {
	// fonts
	--font-family-base: "Inter", sans-serif;
	--font-family-accent: "Fraunces", sans-serif;

	// colors
	--color-white-100: hsl(0deg 0% 100%);
	--color-white-200: hsl(200deg 23% 97%);
	--color-white-300: hsl(208deg 25% 90%);
	--color-white-400: hsl(210deg 22% 80%);
	--color-black-400: hsl(210deg 8% 42%);
	--color-black-800: hsl(215deg 11% 22%);
	--color-black-900: hsl(0deg 0% 12%);
	--color-blue-100: hsl(199deg 100% 95%);
	--color-blue-200: hsl(190deg 70% 88%);
	--color-blue-500: hsl(202deg 64% 48%);
	--color-blue-600: hsl(198deg 100% 31%);
	--color-yellow: hsl(53deg 93% 72%);

	// transition duration
	--transition-duration: 0.2s;
}
